<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/styles/style.css" rel="stylesheet">
    <!-- Google Fonts API connection -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- 'Montserrat' font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- 'Open Sans' font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>Landing Page</title>
</head>
<body class="main-bg">
    <aside class="menu white-bg">
        <div class="main-content menu-content">
            <h1><a href="#">Landing Page</a></h1>
            <nav>
                <ul>
                    <li><a href="#intro">Introdução</a></li>
                    <li><a href="#about">Sobre</a></li>
                    <li><a href="#">Galeria</a></li>
                    <li><a href="#">Serviços</a></li>
                    <li><a href="#">Contatos</a></li>
                </ul>
            </nav>
        </div>
    </aside>
    <main>
        <section id="intro" class="section main-bg intro">
            <div class="main-content intro-content">
                <div class="intro-text justify-text">
                    <h2>Bem-vindo à Seção Introdutória</h2>
                    <p>
                        Uma landing page é uma página de um site criada com o objetivo 
                        principal de converter visitantes em leads ou clientes. Diferente de uma página comum, 
                        a landing page é altamente focada em um objetivo específico e geralmente é usada em 
                        campanhas de marketing digital. Ela possui um design atraente, um conteúdo persuasivo, e inclui elementos como cabeçalhos impactantes, 
                        imagens ou vídeos relevantes, e um call-to-action (chamada para ação) claro e convincente. A finalidade é direcionar o visitante a realizar uma ação específica, 
                        como preencher um formulário, baixar um ebook, ou fazer uma compra. Pense nela como uma porta de entrada cuidadosamente 
                        projetada para guiar o usuário em sua jornada digital.
                    </p>
                </div>
                <div class="intro-img">
                    <img src="../assets/images/generic-pc-monitor.svg" alt="Desenho de um monitor com uma mulher sentada no topo">
                </div>
            </div>
        </section>
        <article id="about" class="section white-bg">
            <div class="main-content about-content">
                <h2>Seção Sobre</h2>
                <p>
                    Bem-vindo à Sua Nova Jornada Digital! Mergulhe com a gente em uma experiência única e transformadora. Nossa missão é conectar você ao que há de mais inovador e eficiente, proporcionando soluções digitais personalizadas e de alta qualidade. Com uma equipe apaixonada pelo que faz, estamos comprometidos em entregar resultados excepcionais que vão além das expectativas.
                </p>
                <p>
                    Por Que Escolher Nossas Soluções? Trabalhamos incansavelmente para entender suas necessidades e oferecer a você serviços sob medida. Desde o primeiro contato até a entrega final, nossa abordagem centrada no cliente garante que cada detalhe seja cuidadosamente planejado e executado. Nos adaptamos às suas necessidades e objetivos, porque acreditamos que seu sucesso é o nosso sucesso.
                </p>
                <p>
                    Transforme Suas Ideias em Realidade! Junte-se a nós e veja como podemos transformar suas ideias em soluções prontas para o mercado. Buscamos constantemente inovação e excelência, utilizando as mais recentes tecnologias para garantir que você esteja sempre à frente. Descubra o futuro hoje e celebre suas conquistas conosco!
                </p>
            </div>
        </article>
    </main>
</body>
</html>