<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/styles/style.css" rel="stylesheet">
    <!-- Google Fonts API connection -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- 'Montserrat' font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- 'Open Sans' font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>Landing Page</title>
</head>
<body class="main-bg">
    <aside class="menu white-bg">
        <div class="main-content menu-content">
            <h1><a href="#">Landing Page</a></h1>
            <nav>
                <ul>
                    <li><a href="#intro">Introdução</a></li>
                    <li><a href="#about">Sobre</a></li>
                    <li><a href="#about-grid">Grid</a></li>
                    <li><a href="#">Galeria</a></li>
                    <li><a href="#">Contatos</a></li>
                </ul>
            </nav>
        </div>
    </aside>
    <main>
        <section id="intro" class="section main-bg intro">
            <div class="main-content intro-content">
                <div class="intro-text justify-text">
                    <h2>Bem-vindo à Seção Introdutória</h2>
                    <p>
                        Uma landing page é uma página de um site criada com o objetivo 
                        principal de converter visitantes em leads ou clientes. Diferente de uma página comum, 
                        a landing page é altamente focada em um objetivo específico e geralmente é usada em 
                        campanhas de marketing digital. Ela possui um design atraente, um conteúdo persuasivo, e inclui elementos como cabeçalhos impactantes, 
                        imagens ou vídeos relevantes, e um call-to-action (chamada para ação) claro e convincente. A finalidade é direcionar o visitante a realizar uma ação específica, 
                        como preencher um formulário, baixar um ebook, ou fazer uma compra. Pense nela como uma porta de entrada cuidadosamente 
                        projetada para guiar o usuário em sua jornada digital.
                    </p>
                </div>
                <div class="intro-img">
                    <img src="../assets/images/generic-pc-monitor.svg" alt="Desenho de um monitor com uma mulher sentada no topo">
                </div>
            </div>
        </section>
        <article id="about" class="section white-bg">
            <div class="main-content about-content">
                <h2>Seção Sobre</h2>
                <p>
                    Bem-vindo à Sua Nova Jornada Digital! Mergulhe com a gente em uma experiência única e transformadora. Nossa missão é conectar você ao que há de mais inovador e eficiente, proporcionando soluções digitais personalizadas e de alta qualidade. Com uma equipe apaixonada pelo que faz, estamos comprometidos em entregar resultados excepcionais que vão além das expectativas.
                </p>
                <p>
                    Por Que Escolher Nossas Soluções? Trabalhamos incansavelmente para entender suas necessidades e oferecer a você serviços sob medida. Desde o primeiro contato até a entrega final, nossa abordagem centrada no cliente garante que cada detalhe seja cuidadosamente planejado e executado. Nos adaptamos às suas necessidades e objetivos, porque acreditamos que seu sucesso é o nosso sucesso.
                </p>
                <p>
                    Transforme Suas Ideias em Realidade! Junte-se a nós e veja como podemos transformar suas ideias em soluções prontas para o mercado. Buscamos constantemente inovação e excelência, utilizando as mais recentes tecnologias para garantir que você esteja sempre à frente. Descubra o futuro hoje e celebre suas conquistas conosco!
                </p>
            </div>
        </article>
        <section id="about-grid" class="section main-bg about-grid">
            <div class="main-content about-grid-content">
                <h2>Uso de grids</h2>
                <p>Uma breve descrição sobre o que são as <i>grids</i> em CSS</p>
                <div class="grid-content">
                    <article>
                        <h3>1.</h3>
                        <p class="justify-text">
                            As grids do CSS são um poderoso sistema de layout que permite criar estruturas complexas e flexíveis de design de forma eficiente. Introduzido como uma especificação em CSS Grid Layout Module, facilita o posicionamento e o alinhamento de elementos em uma página web, possibilitando a configuração de layouts que se ajustam dinamicamente ao tamanho da tela e ao conteúdo. Sua utilização é considerada uma abordagem mais moderna para o desenvolvimento de designs responsivos.
                        </p>
                    </article>
                    <article>
                        <h3>2.</h3>
                        <p class="justify-text">
                            As grids interagem bem com outros módulos de CSS, como o Flexbox, oferecendo ainda mais controle e variabilidade no design. Elas permitem tanto layouts simétricos, que se ajustam automaticamente, quanto layouts mais criativos e assimétricos, permitindo que os desenvolvedores e designers expressem sua criatividade enquanto mantêm a funcionalidade e a estética do site. No geral, o CSS Grid é uma ferramenta essencial para a criação de designs modernos e responsivos na web.
                        </p>
                    </article>
                    <article>
                        <h3>3.</h3>
                        <p class="justify-text">
                            O sistema de grids é baseado em linhas e colunas definidas pelo desenvolvedor, o que permite uma grande liberdade na organização visual. Por meio de propriedades específicas como grid-template-columns, grid-template-rows e grid-area, é possível criar áreas de contêineres que se comportam de forma responsiva e elegante. Isso reduz a necessidade de hacks complicados com floats ou posicionamentos absolutos, tornando o processo de design muito mais simples e intuitivo.
                        </p>
                    </article>
                </div>
            </div>
        </section>
    </main>
</body>
</html>