<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/styles/style.css" rel="stylesheet">
    <!-- Google Fonts API connection -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- 'Montserrat' font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- 'Open Sans' font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>Landing Page</title>
</head>
<body>
    <section class="main-bg section">
        <div class="main-content">
            <h1>Exemplo</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus labore nam, vel modi et nisi! Beatae, sunt aliquid tempora fuga sint est quo rem error aperiam labore dolore fugit dolores!
            </p>
        </div>
    </section>
    <section class="white-bg section">
        <div class="main-content">
            <h1>Exemplo 2</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus labore nam, vel modi et nisi! Beatae, sunt aliquid tempora fuga sint est quo rem error aperiam labore dolore fugit dolores!
            </p>
        </div>
    </section>
</body>
</html>